* {
    margin: 0;
}

h1 {
    padding: 20px;
}

form {
    padding: 15px;
}

.login-form {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background-color: #efefef;
}

.pw {
    margin: 10px;
}

.btn{
    /* opacity: 0.8; */
    padding: 4px 16px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    background-color: #3b5998;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  